<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>
    {% block title %}
      TODO App Index
    {% endblock %}
  </title>
</head>
<body>
<header>
  {% include "components/navbar.html" %}
</header>

<main class="container">
  {% block main %}
  {% endblock %}
</main>

<footer class="container m-4">
  {% block footer %}
    &copy; Django TODO App
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
          crossorigin="anonymous">
  </script>

</footer>
</body>
</html>
